* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* headers */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30%;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
    font-size: 18px;
}

header li a {
    color: black;
    text-decoration: none;
}

header li :hover {
    /*background-color: aliceblue;*/
    text-decoration: underline;
}

.flex {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header {
    margin-bottom: 10px;
    margin-top: -25px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.reservation .left {
    width: 65%;
}
.reservation .right {
    width: 35%;
}

.reservation .left table {
    display:block;
    height : 80vh;
    /*width: 100px;*/
    overflow-y : scroll;
}

.reservation .left table tr {
    width: 100%;
}

.reservation .left .table button {
    margin: 0 5px;
}

.reservation .left .table .chosen {
    background: grey;

}
.reservation .left .table tr:hover {
    background: #becdc8;
    cursor: pointer;
}

.left table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.left thead {
    flex: 0 0 auto;
}

.left tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.left tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.errorMessage {
    color: red;
    text-align: center;
    padding: 20px 0;
}

.reservation .filters {
    display: inline;
    padding-left: 40px;
}

.padding-15 {
    padding: 15px;
}